.button_default{
    background-color: #504038;
    border: 2px solid #504038;
    color:#f9f7f6;
    padding:10px 40px;
	text-transform:uppercase;
    display: block;
    margin: 0 auto;
	margin-top:50px;
    border-radius:4px;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button_default:hover{
    background-color: #7a6256;
    border: 2px solid #7a6256;
    color:#f9f7f6;
}

.button_dark{
    background-color: #1c354e;
    border: 2px solid #1c354e;
    color: #eeeeee;
    padding:10px 20px;
	text-transform:uppercase;
    display: block;
    margin: 0 auto;
	margin-top:50px;
    border-radius:4px;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button_dark:hover{
    background-color: #30567c;
    border: 2px solid #30567c;
    color: #eeeeee;
}