.button{
    background-color: #DAC3AB;
    border: 2px solid #DAC3AB;
    color: #777777;
    padding:10px 20px;
	text-transform:uppercase;
    display: block;
    margin: 0 auto;
	margin-top:50px;
    border-radius:4px;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

/* .button {
    color:#fff;
	background-color:#234465;
    border: 2px solid #234465;
    padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:3px;
    cursor:pointer;
    
} */


.button:hover{
    background-color: #f1d9be;
    border: 2px solid #f1d9be;
    color: #777777;
}