.card_simple {
    color: #234465;
    background: rgb(238,238,238,0.81);
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 1.6%;
    border-radius: 4px;
}

.body {
    display: grid;
    grid-template-columns: 50% 50%;
    vertical-align: top;
    word-wrap: break-word;
    padding: 1.2%;
    font-size: 16px;
    margin-bottom: 0.5%;    
}


.author {
    text-align: right;
    padding: 0.8%;
}

.card_simple:hover {
    background: #c4c4c4;
    cursor: pointer;
}

