.logo {
    display: inline-block;
    height: auto;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
    padding-left: 15px;
    width: 22%;
}

.imgLogo {
    width: 128px;
    margin: 8px;
}