.footer {
    width: 100%;
    height: 14vh;
    background-color: transparent;
    color: rgb(173, 173, 173);
    text-transform: uppercase;
    text-align: center;
}

.footer p {
    font-weight: bold;;
}